{
    "login": {
        "auto_login": true,
        "current_user": {
            "name": "thatboy",
            "pwmask": 7,
            "trusted_token": {
                "stamp": 1600935830,
                "token": ""
            }
        },
        "geometry": {
            "height": 450,
            "width": 600,
            "x": 607,
            "y": 211
        },
        "remember_password": true
    },
    "user_list": "users.json"
}