{
    "login": {
        "auto_login": true,
        "current_user": {
            "name": "thatboy",
            "pwmask": 7,
            "trusted_token": {
                "stamp": 1601000825,
                "token": "B8DE4BFCE5B89A5394D566C6C6DD642CD4C7FFDA6DFE9AC3AFC91311A7E1A5DB"
            }
        },
        "geometry": {
            "height": 450,
            "width": 600,
            "x": 679,
            "y": 213
        },
        "remember_password": true
    },
    "user_list": "users.json"
}